*{
    font-family: 'Oswald', "sans-serif";
    outline: 1px solid rgba(255,0,0,0.5);
}
/*--------FONTS-jOSEFIN---------------------------------------*/
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*----------------FONT-OSWALD----------------------*/
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*----------HEADER---------------------------------*/
header {
    list-style: none;
    text-align: center;
    background-image: url(../images/sea.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 2000;
}
header a{
    margin: 20px 0;
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(204,204,204,0.5);
}
header a:hover{
    background-color:   rgba(0,119,181,0.2);
    text-decoration: none;
}

/*-----------------SECTION-1---------------*/
.section-1 {
    background-image: url(../images/sea.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.section-1 img{
    width: 10%;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin: 100px auto;
}
.name h1{
    font-size: 50px;
    text-shadow: 1px 1px rgba(204,204,204,0.5);
}
.section-1 .name{
    color: #fff;
    margin: -80px 300px;
    list-style: none;
    text-align: center;
}
.section-1 h3{
    font-family: "Josefin Sans";
    font-weight: bold;
}
/*-----------------SECTION-2----------------*/
.section-2 {
    background-image: url(../images/symphony.png);
    height: 250px;
}
.section-2 h2{
    text-align: center;
     text-shadow: 1px 1px rgba(204,204,204,0.5);
    color: darkorchid;
}
.section-2 p {
    font-family: "Josefin Sans";
    color: royalblue;
    font-size: 15px;
    text-align: center;
}
.section-2 img{
    width: 100%
}

/*-----------------SECTION-3----------------*/
.section-3 {
    height: 400px;
    background-image: url(../images/symphony.png);
}
.section-3 .favorite{
    text-align: center;
    color: darkorchid;
    text-shadow: 1px 1px rgba(204,204,204,0.5);
}
.section-3 ul {
    list-style: none;
}
.section-3 ul li{
    display: inline-block;
    margin:  20px;
}
.section-3 img{
    width: 130px;
    border-radius: 100%;
    padding: 3px;
    border: 1px solid darkorchid;
}
.section-3 p{
    text-align: center;
    font-family: "Josefin Sans";
    color: royalblue;
    font-size: 18px;
}
/*-----------------FOOTER-------------------------------------*/
footer {
    background-image: url(../images/CKN6EV.jpg);
    background-size: cover;
    height: 220px;
}
footer h2{
    color: darkorchid;
    text-align: center;
    text-shadow: 1px 1px rgba(204,204,204,0.5)
}
footer img{
    margin: 0 60px;
    border-radius: 100%;
}
footer img:hover{
    width: 120px;
    transition: 500ms all;
}
.twitter{
    background-color: rgba(51,204,255,0.7);
}
.facebook{
    background: rgba(59,89,152,0.7);
}
.linkedin{
    background: rgba(0,119,181,0.7);
}